<!DOCTYPE html>
<html ng-app="redditCreatorApp">
  <head>
    <meta charset="utf-8">
    <title>Reddit Project Angular</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body="container">

    <header class="headerRow">
      <ul id="dropdown1" class="dropdown-content"  ng-model="selected">
        <li><a href="#!"><option="post_date">Review Date</option></a></li>
        <li><a href="#!"><option="rating">Rating</option></a></li>
        <li><a href="#!"><option="name">Alphabetical</option></a></li>
      </ul>
      <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Reddit&nbsp;|&nbsp; Local Ice Cream Shops</a>
        <ul class="right hide-on-med-and-down">
          <li>Submit Post&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <li><input type="text" ng-model="searchBar" placeholder="Search here"></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Sort By:<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
      </nav>
    </header>

    <main>

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.10/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="create.post.js"></script>
    <script src="rating.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  </body>
</html>
