<!DOCTYPE html>
<html ng-app="redditCreatorApp">
  <head>
    <meta charset="utf-8">
    <title>Reddit Project Angular</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body="container">

    <header class="headerRow">
      <ul id="dropdown1" class="dropdown-content"  ng-model="selected">
        <li><a href="#!"><option="post_date">Review Date</option></a></li>
        <li><a href="#!"><option="rating">Rating</option></a></li>
        <li><a href="#!"><option="name">Alphabetical</option></a></li>
      </ul>
      <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Reddit&nbsp;|&nbsp; Local Ice Cream Shops</a>
        <ul class="right hide-on-med-and-down">
          <li>Submit Post&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <li><input type="text" ng-model="searchBar" placeholder="Search here"></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Sort By:<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
      </nav>
    </header>
    <main>

      <div class="row">
        <form class="col s12" name="newReview" novalidate>

          <div class="row input-field col s12">
            <i class="material-icons prefix">info</i>
            <input id="name" type="text" class="validate" name="name" ng-model="new.name" required>
            <label for="name">Ice Cream Shop Name</label>
            <p ng-show="newReview.$invalid">Ice Cream Shop Name Required</p>
          </div>

          <div class="row input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="author" type="text" class="validate" name="author" ng-model="new.author" required>
            <label for="author">Author</label>
            <p ng-show="newReview.$invalid">Author Required</p>
          </div>

          <div class="row input-field col s12">
            <i class="material-icons prefix">web</i>
            <input id="url" type="url" class="validate" name="url" ng-model="new.url" required>
            <label for="url">Image URL</label>
            <p ng-show="newReview.$invalid">Invalid URL</p>
          </div>

          <div class="row input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="description" class="materialize-textarea" name="description" ng-model="new.description" required></textarea>
            <label for="description">Description</label>
            <p ng-show="newReview.$invalid">Description Required</p>
          </div>

          <button class="btn waves-effect waves-light" type="submit" name="action">Submit Post
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.10/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="create.post.js"></script>
    <script src="rating.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  </body>
</html>
